<section class="flex justify-center items-center">
    <div class="w-[600px] border p-5">
<h1 class="text-[30px] text-center">포스트 리스트</h1>
<div class="flex justify-end"><%= link_to "새로만들기", new_post_path, class: "bg-blue-500 text-white px-2 py-1" %></div>
<ul>
    <% @posts.map do |post| %>
<li>
    <div>
    <a class="text-[18px] font-bold" href="<%= edit_post_path(post) %>"><%= post.title %></a>
    <p><%= post.content %></p>
    <span>
        <%  def calculate(num)
        if num < 10
            return "0#{num}"
        else
            return num
        end
    end
        %>
        <small class="text-grey"><%= post.created_at.year %>-<%= calculate(post.created_at.month) %>-<%= post.created_at.day %> <%= calculate(post.created_at.hour) %>:<%=post.created_at.min %></small>
    </span>
</div>
<div>
    <%= button_to "삭제", post_path(post), method: :delete, data: {
        turbo_confirm: "해당 게시글을 삭제하시겠습니까?"
      }, class: "bg-red-500 text-white px-2 py-1" %>
</div>
</li>
    <% end %>
</ul>
</div>
</section>