<section class="flex justify-center items-center">
    <div class="w-[600px] border p-5">
<h1 class="text-[30px] text-center">포스트 리스트</h1>
<div class="flex justify-end"><%= link_to "새로만들기", new_post_path, class: "bg-blue-500 text-white px-2 py-1" %></div>
<ul>
    <% @posts.map do |post| %>
<li>
    <div>
    <h2 class="text-[18px] font-bold"><%= post.title %></h2>
    <p><%= post.content %></p>
    <span>
        <small class="text-grey"><%= post.created_at %></small>
    </span>
</div>
<div class="flex justify-end"><%= link_to "수정", edit_post_path(post), class: "bg-green-500 text-white px-2 py-1" %></div>

<div>
    <%= button_to "삭제", post_path(post), method: :delete, class: "bg-red-500 text-white px-2 py-1" %>
</div>
</li>
    <% end %>
</ul>
</div>
</section>